body {
    background: url(../img/back.jpg);
    color: white;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    max-width: 100%;
}

.container a {
    color: white;
    padding: 0px 5px;
}

a {
    text-decoration: None;
    color: white;
}

.footer {
    min-height: 50px;
    background: PapayaWhip;
}

.conteiner_register {
    max-width: 50%;
    margin: 30px auto 0px auto;
}

.container_user {
    width: 20%;
    background-color: #333;
    margin: auto;

}

.currency-sign__name {
    margin-top: 10px;
}